{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header bg-dark text-white">
    <h3><i class="fas fa-search"></i> Makale Durum Sorgulama</h3>
  </div>
  <div class="card-body">

    <!-- Hata veya başarı mesajlarını göster -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-dark btn-block">Sorgula</button>
    </form>

    {% if submission %}
    <hr />
    <h4>Makale Detayları</h4>
    <p><strong>Takip No:</strong> {{ submission.tracking_number }}</p>
    <p><strong>Durum:</strong> {{ submission.status }}</p>
    <p><strong>Dosya Adı:</strong> {{ submission.get_decrypted_filename }}</p>
    <p>
      <a href="{% url 'send_message' submission.tracking_number %}" class="btn btn-info btn-sm">Editöre Mesaj Gönder</a>
      <a href="{% url 'submission_messages' submission.tracking_number %}" class="btn btn-warning btn-sm">Mesajları Gör</a>
      {% if submission.final_sent and submission.final_pdf %}
        <a href="{{ submission.final_pdf.url }}" class="btn btn-success">
          Final PDF’i Gör
        </a>
      {% endif %}

      {% if submission.status == "Revize Gerekli" %}
      <a href="{% url 'revise_paper' submission.tracking_number %}" class="btn btn-dark btn-sm">Revize Makale Yükle</a>
      {% endif %}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
